<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/about.css') }}"/>
</head>
<body>
    <div class="container">
        <div class="about">
            <p>Movie Ticket Booking System is a computerized solution for theatre setups, which will
                automate the process of Ticket Sale and Customer Bookings. This application will allow
                users to browse movies filtering them based on location, price, rating, genre, timing and age.
                The home page will display movies based on filters selected by the user. Once a movie is
                selected, the users will be redirected to a page dedicated to the selected movie where
                booking details, timings, movie rating and locations will be displayed. On selecting booking
                options, the user will be directed to a booking page. Users can choose their preferred seats
                and show based on availability and preference and make reservations by submitting a form.
                Through this project we aim at implementing various Database Management System
                concepts like transaction management and Database security while improving our software
                development skills
            </p>
        </div>
    </div>

</body>
</html>