<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../Static/Styles/booked.css">
</head>
<body>
    <div class="container">
        <div class="booked">
            <p>Yay! You have completed the process of booking your movie ticket!</p>
                <p>Your Ticket Id is:</p>
            <p>Further details will be forwarded to your whatsapp number</p>
        </div>
    </div>
</body>
</html>