<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../Static/Styles/movie.css">
</head>
<body>
    <div class="container">
        <div class="moviename">
            <h1>The Godfather</h1>
        </div>
        <div class="poster">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/47/The_Godfather.jpg/330px-The_Godfather.jpg" alt="Poster1">
        </div>"
        <div class="description">
            <P>
                The Godfather is a trilogy of American crime films directed by Francis Ford Coppola inspired by the 1969 novel of the same name by Italian American author Mario Puzo.
                 The films follow the trials of the fictional Italian American mafia Corleone family whose patriarch, Vito Corleone, rises to be a major figure in American organized crime.
                  His youngest son, Michael Corleone, becomes his successor. The films were distributed by Paramount Pictures and released in 1972, 1974, and 1990.
                   The series achieved success at the box office, with the films earning between $430 and $517 million worldwide. The Godfather and The Godfather Part II are both seen by many as two of the greatest films of all time.
                    The series is heavily awarded, winning 9 out of 28 total Academy Award nominations.

            </P>
            <button type="button">BOOK</button>
        </div>
    </div>
    
</body>
</html>