body{
    background-image: url("https://i.pinimg.com/originals/1e/ef/c5/1eefc5567dc5c55f67ef6849b9235582.jpg");
    background-size:contain;
  }
  img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }  

.moviename{
    color:rgb(16, 1, 1);
    background-color:rgb(251, 248, 248);
    margin-left:350px;
    margin-right:650px;
    text-align:center;
    padding: 0px 5px;
    width:650px;
}
.poster{
    margin-left:500px;
    margin-right:500px;
}

button{
    background-color:rgb(53, 52, 52);
    color:white;
    position: absolute;
    bottom:2%;
    left: 42%;
    height: 70px;
    width: 120px;
    border-color:rgb(11, 11, 11);
    border-width: 2px;
    border-style: groove;
}

button:hover{

    background-color: rgb(9, 9, 9);

}

.description{
    color:white;
    font-weight:300;
    font-family:sans-serif;
    padding: 0px 90px;
}

